.iconButton{
    width: 200px;
    height: 48px;
    padding: 0px;
    border: none;
    display: flex;
    flex-direction: row;
    background-color: var(--darkBlue);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.iconButton:hover{
    background-color: var(--cyan); 
}

.iconButton:hover .iconButton-img{
    background: rgba(0,0,0,0.1) url('./img/down-arrows-hover.svg') center/16px no-repeat;
}

.iconButton-img{
    width: 48px;
    height: inherit;
    float: left;
    background: rgba(0,0,0,0.1) url('./img/down-arrows.svg') center/16px no-repeat;
}

.iconButton-value{
    width: 152px;
    height: inherit;
    float: right;
    font: 400 12px/48px 'PublicSans-Regular';
    letter-spacing: 2px;
    color: white;
}