#navBar{
    width: 1111px;
    height: 32px;
    position: absolute;
    z-index: 100;
    margin-top: 64px;
    left: 50%;
    transform: translateX(-50%);
    background: url('./img/logo.svg') left/60px no-repeat;
}

#navBarLinks{
   width: 306px;
   height: inherit;
   float: right;
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: space-between;
}

#navBarLinks button{
    font: 400 12px/32px 'PublicSans-Regular';
    letter-spacing: 2px;
    background-color: transparent;
    border: none;
    transition: opacity 0.3s ease;
}

.navBarInactiveLink{
    color:var(--darkBlue);
    cursor: pointer;
}

.navBarInactiveLink:hover{
    opacity: 0.3;
}

.navBarActiveLink{
    color:var(--cyan);
}


