.detailsNavBarButton{
    width: auto;
    height: 66px;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

@media (hover: hover) {
    .detailsNavBarButton:hover .legendProjectTitle {
        color: var(--cyan);
    }
}

.detailsNavBarButton:active:not(:hover) .legendProjectTitle{
    color: inherit;
}

.detailsNavBarButton:disabled{
    opacity: 0;
    cursor: default;
}

.detailsNavBarButton:disabled .legendProjectTitle {
    color: inherit;
}

.buttonArrowIcon{
    width: 40px;
    height: inherit;
}

.buttonLegend{
    width: auto;
    height: inherit;
}

.leftDirection{
    flex-direction: row;
    text-align: left;
}

.leftArrowIcon{
    background: url('./img/arrow-left.svg') left/8px no-repeat;
}

.rightDirection{
    flex-direction:row-reverse;
    text-align: right;
}
.rightArrowIcon{
    background: url('./img/arrow-right.svg') right/8px no-repeat;
}

.legendProjectTitle{
    height: 36px;
    font: 400 32px/36px 'IbarraRealNova-Regular';
    letter-spacing: -0.29px;
    color: var(--darkGrey);
    transition: color 0.3s ease;
}

.legendProjectDirection{
    height: 30px;
    font: 400 16px/30px 'PublicSans-Regular';
    color: var(--darkGrey);
    opacity:0.5;
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .detailsNavBarButton{
        width: 138px;
        height: 98px;
        flex-direction: column!important;
        justify-content: space-between;
        align-items: center;
    }

    .detailsNavBarButton:hover .legendProjectTitle {
        color: var(--cyan);
    }

    .buttonArrowIcon{
        width: inherit;
        height: 16px;
    }
    
    .buttonLegend{
        width: inherit;
        height: 66px;
    }
    
    .legendProjectTitle{
        height: 36px;
        font: 400 32px/36px 'IbarraRealNova-Regular';
        letter-spacing: -0.29px;
        color: var(--darkGrey);
        transition: color 0.3s ease;
    }
    
    .legendProjectDirection{
        height: 30px;
        font: 400 16px/30px 'PublicSans-Regular';
        color: var(--darkGrey);
        opacity:0.5;
    }
}