#socialMedia{
    width: 102px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#socialMedia button{
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

@media (hover: hover) {
    #socialMedia button:hover{
        opacity: 0.3;
    }
}

.gitHub-bt-light{
    background-image: url('./img/github-light.svg');
}

.gitHub-bt-dark{
    background-image: url('./img/github-dark.svg');
}

.twitter-bt-light{
    background-image: url('./img/twitter-light.svg');
}

.twitter-bt-dark{
    background-image: url('./img/twitter-dark.svg');
}

.linkedin-bt-light{
    background-image: url('./img/linkedin-light.svg');
}

.linkedin-bt-dark{
    background-image: url('./img/linkedin-dark.svg');
}
