#desktopNavBar {
    width: 1111px;
    height: 32px;
    position: absolute;
    z-index: 100;
    margin-top: 64px;
    left: 50%;
    transform: translateX(-50%);
    background: url('./img/logo.svg') left/60px no-repeat;
}

.navBarMenu {
    width: 306px;
    height: inherit;
    float: right;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.navBarMenu button {
    font: 400 12px/32px 'PublicSans-Regular';
    letter-spacing: 2px;
    background-color: transparent;
    border: none;
    transition: opacity 0.3s ease;
}

.navBarInactiveLink {
    color: var(--darkBlue);
    cursor: pointer;
}

@media (hover: hover) {
    .navBarInactiveLink:hover {
        opacity: 0.3;
    }
}

.navBarActiveLink {
    color: var(--cyan);
}

#navBar-mobileMenuIcon {
    width: 24px;
    height: 32px;
    display: none;
    border: none;
    background-color: transparent;
    float: right;
    cursor: pointer;
}

.mobileMenuIcon-burger {
    background: url('./img/hamburger.svg') center/24px no-repeat;
}

.mobileMenuIcon-close {
    background: url('./img/close.svg') center/18px no-repeat;
}

#mobileNavBar {
    width: 100vw;
    height: 100vh;
    z-index: 101;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    padding-top: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 85px;
}

.showMobileNavBar {
    display: flex;
}

.hideMobileNavBar {
    display: none;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #desktopNavBar {
        width: 689px;
        margin-top: 64px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #desktopNavBar {
        width: 311px;
        margin-top: 32px;
    }

    #navBar-mobileMenuIcon {
        display: block;
    }

    .navBarMenu {
        height: 200px;
        float: unset;
        flex-direction: column;
    }

    #desktopMenu {
        display: none;
    }

    .navBarMenu button {
        font: 400 18px/32px 'PublicSans-Regular';
    }

    .navBarInactiveLink {
        color: white;
    }

}