#contactFooter{
    width: 1110px;
    height: 84px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#contactFooter h2{
    width: 350px;
    height: inherit;
}

#contactFooter-line{
    width: 534px;
    height: 1px;
    background-color: rgba(151,151,151,0.15);
}