#contactFooter{
    width: 1110px;
    height: 84px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#contactFooter h2{
    width: 350px;
    height: inherit;
}

#contactFooter-line{
    width: 534px;
    height: 1px;
    background-color: rgba(151,151,151,0.15);
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #contactFooter{
        width: 689px;
        height: 84px;
        margin-bottom: 96px;
    }
    
    
    #contactFooter-line{
        width: 113px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #contactFooter{
        width: 311px;
        height: 214px;
        margin-bottom: 80px;
        flex-direction: column;
    }
    
    #contactFooter h2{
        width: inherit;
        height: 126px;
        text-align: center;
    }
    
    #contactFooter-line{
        display: none;
    }
}