#contactForm{
    width: 1110px;
    height: 533px;
    padding: 48px 0px;
    margin-bottom: 109px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-top: solid 1px rgba(51,50,61,0.15);
}

#contactForm-content{
    width: 635px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.formElement{
    width: inherit;
    height: auto;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.formElement label{
    width: inherit;
    height: 30px;
    margin-bottom: 8px;
    font: 700 13px/30px 'PublicSans-Regular';
    color: var(--darkGrey);
    opacity: 0.8;
}

.formElement input{
    height: 48px;
}

.formElement textarea{
    resize: none;
    height: 96px!important;
}

.formatError{
    border: 1px solid var(--red);
}

.formatError:focus,.formatError:focus{
    border: 1px solid var(--red);
    outline: 1px solid var(--red);
}

.formErrorMsg{
    height: 12px;
    margin-top: 4px;
    font: 700 10px/12px 'PublicSans-Regular';
    color: var(--red);
}

#contactConfirmationWindow{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

#contactSentMessage{
    width: 400px;
    height: 225px;
    padding: 20px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

#contactSentMessageHead{
    font: 400 26px/30px 'PublicSans-Regular';
    color: var(--darkGrey);
}

#contactSentMessageText{
    margin-top: 20px;
    font: 400 18px/30px 'PublicSans-Regular';
    color: var(--darkGrey);
}

#contactSentMessage button{
    margin-top: 25px;
}
