#mainFooter{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkGrey);
}

#mainFooterContainer{
    width: 1110px;
    height: 32px;
    padding-left: 109px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: url('./img/logo-grey.svg') left/61px no-repeat;
}

#mainFooterlinks{
    width: 309px;
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainFooterlinks button{
    height: 14px;
    padding: 0px;
    font: 400 12px/14px 'PublicSans-Regular';
    letter-spacing: 2px;
    background-color: transparent;
    color:white;
    border: none;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

@media (hover: hover) {
    #mainFooterlinks button:hover{
        opacity: 0.3;
    }
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #mainFooterContainer{
        width: 689px;
        height: 32px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #mainFooter{
        height: 354px;
    }
    
    #mainFooterContainer{
        width: 104px;
        height: 242px;
        padding: 72px 0px 0px;
        flex-direction: column;
        background: url('./img/logo-grey.svg') top/61px no-repeat;
    }
    
    #mainFooterlinks{
        width: inherit;
        height: 106px;
        flex-direction: column;
    }
}

