#homeHeader {
    width: 1110px;
    height: 600px;
    margin-top: 54px;
    background: url('./img/homeHeader-desktop.jpg') center/1110px no-repeat;
}

#homeHeader>div {
    width: 445px;
    height: 357px;
    float: left;
    margin-top: 243px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
}

#homeHeader h1 {
    width: 390px;
    color: var(--darkGrey);
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #homeHeader {
        width: 688px;
        margin-top: 47px;
        background: url('./img/homeHeader-tablet.jpg') center/688px no-repeat;
    }

    #homeHeader>div {
        width: 514px;
        height: 278px;
        margin-top: 322px;
        padding-top: 56px;
    }

    #homeHeader h1 {
        width: 458px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #homeHeader {
        width: 311px;
        height: auto;
        margin-top: 72px;
        padding-top: 295px;
        background: var(--lightGrey) url('./img/homeHeader-mobile.jpg') top/311px no-repeat;
    }
    
    #homeHeader>div {
        width: inherit;
        height: 248px;
        margin-top: 24px;
        padding-top: 0px;
        background-color: var(--lightGrey);
    }
    
    #homeHeader h1 {
        width: inherit;
        color: var(--darkGrey);
    }
}